#page3 {
  position: relative;
  top: 89%;
  width: 100%;
  height: 100vh;
  background-color: #111418;
  display: flex;
  justify-content: center;
}

#moving-cards {
  margin-top: 1vw;
  width: 90vw;
  height: 60vh;
  overflow: hidden;
  display: flex;
}

.cards-move {
  display: flex;
  gap: 12px;
}
#card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #3c444f;
  background-color: #111418;
  margin-top: 1vw;
  height: 40vh;
  border-radius: 10px;
  width: 30vw;
  overflow: hidden;
  animation: cardmove 1.9s ease 0s infinite forwards;
}

#underline {
  border-bottom: 2px solid;
}

#card > h4 {
  margin: 1vw 0 1vw 1.2vw;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.3vw;
  font-weight: 600;
}

#card > #underline {
  color: #3c444f;
  margin: 0 8vw 0.7vw 0;
  margin: 0 7vw 0.7vw 1vw;
}

#card > p {
  color: #c3c7ce;
  padding: 0 1vw;
}

@keyframes cardmove {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.left-blur {
  position: absolute;
  left: 3%;
  top: 4%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 100%,
    rgba(179, 179, 179, 0.041) 1%
  );
  width: 4vw;
  height: 20vw;
  z-index: 999;
  filter: blur(5px); /* Optional: enhances the blur effect */
}

.right-blur {
  position: absolute;
  right: 3%;
  top: 4%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 100%,
    rgba(179, 179, 179, 0.041) 1%
  );
  width: 4vw;
  height: 20vw;
  z-index: 999;
  filter: blur(5px); /* Optional: enhances the blur effect */
}
