.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: 5;
  margin-top: -20vh;
}

.left {
  display: flex;
  width: 76%;
  align-items: center;
  margin-left: -2vw;
}

.tinder-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-top: 0.3vw;
}

.navbar > .left > h1 {
  font-size: 2.7vw;
  font-weight: 600;
  margin-right: 1.5vw;
  /* margin-left: 0.1vw; */
}

.nav-list {
  position: relative;
  display: flex;
  align-items: self-start;
  gap: 0.1vw;
  margin-top: 12.9vw;
  font-size: 1.4vw;
  text-transform: capitalize;
  font-weight: 500;
  gap: 35px;
}
.nav-list > li > a {
  transition: all 0.2s ease;
  text-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 1);
}

.nav-list > li > a:hover {
  text-decoration: underline;
  color: #fe1212;
  cursor: pointer;
}

.nav-list > li > h5 > span:nth-last-child(1) {
  text-wrap: nowrap;
  background-color: orange;
  margin-left: 0.5vw;
  visibility: hidden;
}

.nav-list > li > a:nth-last-child(2n) {
  margin-left: 5vw;
  /* background-color: red; */
}

.products {
  /* background-color: red; */
  margin-left: 2vw;
}

.support {
  margin-right: 3.5vw;
  margin-left: -2vw;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  /* margin-left: 2vw; */
}

.right > h2 {
  text-transform: capitalize;
  font-size: 1.3vw;
  font-weight: 700;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 0.2vw 1.5vw;
  cursor: pointer;
  /* text-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 1); */
}

.right > h2:hover {
  background: #ffffff3b;
  border-radius: 20px;
}

.right > button {
  position: relative;
  font-size: 1.3vw;
  font-weight: 700;
  background-color: #ffff;
  color: #000;
  padding: 0.4vw 2.5vw;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0vw 0.2vw 0.1vw rgba(0, 0, 0, 1);
}

.right > button:hover {
  transition: all 0.3s ease-in-out;
  color: white;
  background: rgb(255, 44, 123);
  background: linear-gradient(
    38deg,
    rgba(255, 44, 123, 1) 53%,
    rgba(255, 144, 52, 1) 86%
  );
}
