#page3 {
  position: relative;
  top: 89%;
  width: 100%;
  height: 100vh;
  background-color: #111418;
  display: flex;
  justify-content: center;
}

#moving-cards {
  margin-top: 1vw;
  width: 90vw;
  height: 60vh;
  overflow: hidden;
  display: flex;
}

.cards-move {
  display: flex;
  gap: 12px;
}
#card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #3c444f;
  background-color: #111418;
  margin-top: 1vw;
  height: 40vh;
  border-radius: 10px;
  width: 30vw;
  overflow: hidden;
  animation: cardmove 1.9s ease 0s infinite forwards;
}

#underline {
  border-bottom: 2px solid;
}

#card > h4 {
  margin: 1vw 0 1vw 1.2vw;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.3vw;
  font-weight: 600;
}

#card > #underline {
  color: #3c444f;
  margin: 0 8vw 0.7vw 0;
  margin: 0 7vw 0.7vw 1vw;
}

#card > p {
  color: #c3c7ce;
  padding: 0 1vw;
}

@keyframes cardmove {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.left-blur {
  position: absolute;
  left: 3%;
  top: 4%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 100%,
    rgba(179, 179, 179, 0.041) 1%
  );
  width: 4vw;
  height: 20vw;
  z-index: 999;
  filter: blur(5px); /* Optional: enhances the blur effect */
}

.right-blur {
  position: absolute;
  right: 3%;
  top: 4%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 100%,
    rgba(179, 179, 179, 0.041) 1%
  );
  width: 4vw;
  height: 20vw;
  z-index: 999;
  filter: blur(5px); /* Optional: enhances the blur effect */
}

#page4 {
  position: absolute;
  background-color: #111418;
  width: 100%;
  height: 100vh;
  top: 150%;
  display: flex;
  justify-content: space-around;
  padding-top: 1vw;
  color: #fff;
}

#page4 > .section-1 > h2 {
  font-size: 1.5vw;
  text-transform: capitalize;
  margin-bottom: 1vw;
  font-weight: bold;
}

#page4 > .section-2 > h2 {
  font-size: 1.5vw;
  text-transform: capitalize;
  margin-bottom: 1vw;
  font-weight: bold;
}

#page4 > .section-1 > h3 {
  margin-top: 0.8vw;
  transition: all 0.2s ease;
}

#page4 > .section-1 > h3:hover {
  color: #ff4458;

  cursor: pointer;
}

#page4 > .section-2 > h3 {
  margin-top: 0.8vw;
  transition: all 0.2s ease;
}

#page4 > .section-2 > h3:hover {
  color: #ff4458;

  cursor: pointer;
}

#page4 > .section-3 > h2 {
  font-size: 1.5vw;
  text-transform: capitalize;
  margin-bottom: 1vw;
  font-weight: bold;
}

#page4 > .section-3 > .icons {
  display: flex;
  margin-top: 0.5vw;
  font-size: 2vw;
  justify-content: center;
  gap: 20px;
  transition: all 0.2s ease;
}

#page4 > .section-3 > .icons > .icon:hover {
  color: #ff4458;
  cursor: pointer;
}

#page4 > .section-4 > h2 {
  font-size: 1.5vw;
  text-transform: capitalize;
  margin-bottom: 1vw;
  font-weight: bold;
}

#page4 > .section-4 > h3 {
  margin-top: 0.8vw;
  transition: all 0.2s ease;
}

#page4 > .section-4 > h3:hover {
  color: #ff4458;
  cursor: pointer;
}

#page-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 190%;
  color: #fff;
  border-top: 2px solid #262c33;
}
#page-5 > .sec-1 {
  margin-top: 3vw;
  margin-left: 6vw;
}

#page-5 > .sec-1 > h2 {
  display: inline;
  font-size: 1.4vw;
  font-weight: 700;
  margin-right: 3vw;
}

#page-5 > .sec-1 > p {
  margin-top: 3vw;
  padding: 0 3vw 0 0;
  color: #b4bfc8;
}

.app-store,
.play-store {
  display: inline;
  width: 10vw;
  object-fit: cover;
}

.play-store {
  /* height: 5vw; */
  margin-left: 2vw;
  height: 4.4vw;
}

#page-6 {
  width: 100%;
  display: flex;
  position: absolute;
  top: 240%;
  border-top: 2px solid #262c33;
  margin-left: 5vw;
  color: #b4bfc8;
}

#page-6 > h3 {
  margin: 0.6vw;
}

#page-6 > h4 {
  margin-left: 38vw;
  margin-top: 0.6vw;
}
