@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.overlay {
  background: #000;
}

.imgsection {
  width: 100%;
  height: 100vh;
  background-image: url("/public/tinderHero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -130px;
}
